# Виключити файли збірки
bin/
obj/

# Ignore Visual Studio files
.vs/
**/bin/
**/obj/

# Виключити файли резервних копій
*.bak

# Виключити файли конфігурації
*.config

# Виключити файли локальної бази даних
*.sdf

# Виключити файли кешу та журнали
*.user
*.cache
*.log

# Виключити файли з тестового проекту
[Test]/
**/*.Tests.cs

# Виключити файли з розділу документації
[D docs]/
*.xml

# Виключити файли з папки, що містить завантажені файли
Uploads/
